body {
  background: lightblue;
  font-family: "Times New Roman", times, serif;
  font-size: 18px;
}

h1 {
  font-family: "Marker Felt", "Jazz LET", fantasy;
  font-size: 40px;
}

h2 {
  font-style: italic;
  font-size: 25px;
}

h3 {
  font-style: italic;
  font-family: "Helvetica", contiga;
}

img {
  border: 3px solid black;
}